<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WorkoutTracker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52CB16C01F13F0DF00F4232D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52E86BB91F48D3AB0047A927</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52E86BCD1F48D5FB0047A927</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52E86BDF1F4B331F0047A927</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52F6A89A1C5F0036000FD7B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
